:root {
  --hero-title-font-family: 'Kanit', sans-serif;
  --defalt-font-family: 'Roboto', sans-serif;
  --main-color: #540B77;
}
h1, h2 {
  margin-left: 150px;
}
h2 {
  font-size: 48px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-family: monospace;
}
h4 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.hero h3 {
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
  font-size: 24px;
  align-items: center;
}
.about-body {
  background-color: #240234;
}
.nav-container {
  font-family: var(--defalt-font-family);
}
.hero {
  background-image: url('images/background.png');
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.last-name {
  font-family: var(--hero-title-font-family);
  font-size: 150px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  font-weight: 800;
}
.first-name {
  font-family: var(--hero-title-font-family);
  font-size: 150px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  font-weight: 100;
}
.img-star {
  height: 60px;
  width: 50px;
}
.h3-text {
  margin-right: 150px;
  font-size: 30px;
  font-family: var(--defalt-font-family);
}
.links {
  font-family: var(--defalt-font-family);
  background-color: var(--main-color);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 2px solid var(--main-color);
  transition: all 200ms ease-in-out;
  font-size: 18px;
  max-width: 200px;
  text-align: center;
}
.links:hover {
  color:var(--main-color);
  background-color: #ffffff;
  border: 2px solid var(--main-color);
}
.about-projects-link {
  font-family: var(--defalt-font-family);
  color: #240234;;
  background-color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid  #ffffff;
  transition: all 200ms ease-in-out;
  font-size: 18px;
  max-width: 180px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.about-projects-link:hover {
  max-width: 200px;
  padding: 10px 22px;
  color: var(--main-color);
}
.my-photo {
  border-radius: 4px;
  padding: 7px;
  background-color: #ffffff;
}
.contact-link-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}
.about-section h1 {
  color:#ffffff;
  font-size: 58px;
  margin: 0;
  text-align: center;
}
.about-section h2 {
  text-align: center;
  color:#ffffff;
  font-size: 22px;
  margin: 0;
}
.about-section p {
  color:#ffffff;
  text-indent: 30px;
}

.projects-container {
  margin: 0 35px 40px 35px;
}
.projects-page-title {
  text-align: center;
  margin: 70px 0;
  font-size: 64px;
  font-weight: 700;
  color: var(--main-color);
  font-family: var(--defalt-font-family);
}
.project-block{
  margin: 80px 0;
}
.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 40px;
  margin-bottom: 20px;
}
.project-description {
  margin-bottom: 35px;
}
footer .mail-link {
  display: flex;
  justify-content: center;
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}
footer .mail-link:hover {
  color: var(--main-color);
}
footer .media-icons{
  display: flex;
  justify-content: center;
}
footer .media-icons a{
  font-size: 22px;
  color: var(--main-color);
  background: #ffffff;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  margin: 10px 15px;
}
footer .media-icons a:hover {
  background: #f5f2fd;
}
.about-footer-title {
  color: #ffffff;
  text-align: center;
  font-size: 46px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.about-footer a{
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.about-footer a:last-child {
  margin-bottom: 50px;
}
.about-footer a:hover{
  opacity: 1;
  color: #ffffff;
}
.github-code {
  font-size: 12px;
  margin-bottom: 30px;
}
@media (max-width: 1050px) {
  h1, h2 {
    margin-left: 60px;
  }
  .last-name {
    font-size: 100px;
  }
  .first-name { 
    font-size: 100px;
  }
  .h3-text { 
    font-size: 20px;
    margin-right: 60px;
  }
  .img-star {
    height: 40px;
    width: 30px;
  }
  .links {
    font-size: 12px;
  }
  .contact-link-container {
    margin-right: 60px;
    font-size: 14px;
  }
  .hero {
    height: 450px;
  }
  .projects-page-title {
    margin: 50px 0;
  }
  .title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .project-description {
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width:991px) {
  .my-photo {
    display: block;
    margin: 0 auto;
  }
  .about-section h1 {
    margin-top: 30px;
  }
  .about-section p {
    text-align: center;
  }

}
@media (max-width: 640px) {
  h1, h2 {
    margin-left: 30px;
  }
  .last-name {
    font-size: 70px;
  }
  .first-name { 
    font-size: 70px;
  }
  .h3-star {
    line-height: 14px;
  }
  .img-star {
    height: 20px;
    width: 15px;
  }
  .h3-text { 
    font-size: 12px;
    margin-right: 30px;
  }
  .contact-link-container {
    margin-right: 30px;
    font-size: 8px;
  }
  .hero {
    height: 300px;
  }
  .project-block{
    margin: 60px 0;
  }
  .projects-page-title {
    font-size: 32px;
    margin: 30px 0;
  }
  .project-image {
    margin: 20px 0;
  }
}
@media (max-width: 575px) {
  .reverse-project  {
    flex-direction: column-reverse;
  }
  .project-content {
    text-align: center;
  }
  .link-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 470px) {
  h1, h2 {
    margin-left: 30px;
  }
  .last-name {
    font-size: 40px;
  }
  .first-name { 
    font-size: 40px;
  }
  .h3-text { 
    font-size: 8px;
    margin-right: 30px;
  }
  .h3-star {
    line-height: 9.5px;
  }
  .img-star {
    height: 15px;
    width: 10px;
  }
  .contact-link-container {
    margin-right: 30px;
    font-size: 8px;
  }
  .links {
    padding: 4px 12px;
  }
  .hero {
    height: 250px;
  }
  .project-block{
    margin: 20px 0;
  }
  .projects-page-title {
    font-size: 32px;
    margin: 20px 0;
  }
  .about-section h1 {
    font-size: 34px;
  }
  .about-section h2 {
    font-size: 15px;
  }
  .about-section p {
    font-size: 12px;
  }
}