h1, h2 {
  margin-left: 150px;
}
h2 {
  font-size: 48px;
}
h3 {
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
  font-size: 24px;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-family: monospace;
}
.container {
  margin-bottom: 25px;
}
.nav-container {
  font-family: 'Roboto', sans-serif;
}
.links {
  font-family: 'Roboto', sans-serif;
  background-color: #540B77;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 2px solid #540B77;
  transition: all 200ms ease-in-out;
  font-size: 18px;
}
.links:hover {
  color:#540B77;
  background-color: #ffffff;
  border: 2px solid #540B77;
}
.contact-link-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}
.hero {
  background-image: url('images/background.png');
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.last-name {
  font-family: 'Kanit', sans-serif;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  font-weight: 800;
}
.first-name {
  font-family: 'Kanit', sans-serif;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  font-weight: 100;
}
.img-star {
  height: 60px;
  width: 50px;
}
.h3-text {
  margin-right: 150px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.nav {
  max-width: 900px;
  margin: 0 100px;
}
.title {
  font-size: 40px;
}
.projects-title {
  text-align: center;
  margin: 70px 0;
  font-size: 64px;
  font-weight: 700;
  color: #540B77;
  font-family: 'Roboto', sans-serif;
}
.project-block{
  margin: 80px 0;
}
@media (max-width: 1050px) {
  h1, h2 {
    margin-left: 60px;
  }
  p {
    font-size: 12px;
  }
  .last-name {
    font-size: 100px;
  }
  .first-name { 
    font-size: 100px;
  }
  .h3-text { 
    font-size: 20px;
    margin-right: 60px;
  }
  .contact-link-container {
    margin-right: 60px;
    font-size: 14px;
  }
  .hero {
    height: 450px;
  }
  .project-description {
    margin-bottom: 4px;
  }
  .title {
    font-size: 24px;
  }
  .links {
    font-size: 12px;
  }
  .project-block{
    margin: 40px 0;
  }
}
@media (max-width: 640px) {
  h1, h2 {
    margin-left: 30px;
  }
  img {
    margin: 10px 0;
  }
  .last-name {
    font-size: 70px;
  }
  .first-name { 
    font-size: 70px;
  }
  .h3-text { 
    font-size: 12px;
    margin-right: 30px;
  }
  .img-star {
    height: 20px;
    width: 15px;
  }
  .contact-link-container {
    margin-right: 30px;
    font-size: 8px;
  }
  .hero {
    height: 300px;
  }
  .projects-title {
    font-size: 32px;
    margin: 20px 0;
  }
  .project-block{
    margin: 30px 0;
  }
}
@media (max-width: 575px) {
  .reverse-project  {
    flex-direction: column-reverse;
  }
  .project-block{
    margin: 100px 0;
  }
}
@media (max-width: 470px) {
  h1, h2 {
    margin-left: 30px;
  }
  img {
    margin: 10px 0;
  }
  .last-name {
    font-size: 40px;
  }
  .first-name { 
    font-size: 40px;
  }
  .h3-text { 
    font-size: 8px;
    margin-right: 30px;
  }
  .img-star {
    height: 15px;
    width: 10px;
  }
  .contact-link-container {
    margin-right: 30px;
    font-size: 8px;
  }
  .hero {
    height: 200px;
  }
  .projects-title {
    font-size: 32px;
    margin: 20px 0;
  }
  .project-block{
    margin: 80px 0;
  }
}